$primary-color: #444;
$secondary-color: orange;
$show-home-image: true;
$home-image: url(../images/dev7.jpeg);
$background-opacity: 0.9;

@mixin easeOut {
	transition: all 0.5s ease-out;
}

@mixin background {
	@if $show-home-image {
		&#bg-img {
			background: $home-image;
			background-attachment: fixed;
			background-size: cover;

			.overlay {
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: rgba($primary-color, $background-opacity);
			}
		}
	}
}

* {
	box-sizing: border-box;
}

body {
	@include background;
	background: $primary-color;
	color: #fff;
	height: 100%;
	margin: 0;
	font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;
	}

	&.sm-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		background: rgba(lighten($primary-color, 2), 0.5);
	}
}
//menu button
.menu-btn {
	position: absolute;
	z-index: 3;
	right: 35px;
	top: 35px;
	cursor: pointer;
	@include easeOut;

	.btn-line {
		width: 28px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #fff;
		@include easeOut;
	}

	//animates burger menu
	&.close {
		transform: rotate(180deg);

		.btn-line {
			//line 1 - rotate:
			&:nth-child(1) {
				transform: rotate(45deg) translate(5px, 5px);
			}

			//line 2 - rotate:
			&:nth-child(2) {
				opacity: 0;
			}

			//line 3 - rotate:
			&:nth-child(3) {
				transform: rotate(-45deg) translate(7px, -6px);
			}
		}
	}
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
}

main {
	padding: 4rem;
	height: 100%;

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;

			&:hover {
				color: $secondary-color;
				@include easeOut();
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}
